<a href="https://colab.research.google.com/github/kailashDataScience/gold_price_data/blob/main/gold_price_data_scrap_from_2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

IMPORT REQURIED PACKAGES

In [115]:
import pandas as pd 
import requests as req
from bs4 import BeautifulSoup

GET THE REPONSES FROM THE GIVEN URL

In [116]:
url=["https://www.livechennai.com/get_goldrate_history.asp?monthno=1&yearno=2023",
     "https://www.livechennai.com/get_goldrate_history.asp?monthno=2&yearno=2023",
     "https://www.livechennai.com/get_goldrate_history.asp?monthno=3&yearno=2023",
     "https://www.livechennai.com/get_goldrate_history.asp?monthno=4&yearno=2023"]
page1= req.get(url[0])
page2=req.get(url[1])
page3=req.get(url[2])
page4=req.get(url[3])

CREATE SOUP OBJECT FOR EVERY PAGE

In [117]:
soup1 = BeautifulSoup(page1.text,'lxml')
soup2 = BeautifulSoup(page2.text,'lxml')
soup3 = BeautifulSoup(page3.text,'lxml')
soup4 = BeautifulSoup(page4.text,'lxml')

FIND ALL tr tags FROM THE PAGES THEN FIND ALL td tags FOR MONTHLY DATA BY USING monthData() function

In [118]:
tr_tag1 = soup1.find_all('tr')
tr_tag2 = soup2.find_all('tr')
tr_tag3 = soup3.find_all('tr')
tr_tag4 = soup4.find_all('tr')

def monthData(mdata):
  mon_data=[]
  for tr1 in mdata:
      td_tag =tr1.find_all('td')
      row = [i.text.strip() for i in td_tag]
      mon_data.append(row)
  return mon_data


jan_data = monthData(tr_tag1)
feb_data = monthData(tr_tag2)
mar_data = monthData(tr_tag3)
apr_data = monthData(tr_tag4)

REMOVE UNWANTED DATAS FROM THE EACH MONTH DATA LIST

In [119]:

jan_data = jan_data[3:][:-3]
feb_data = feb_data[3:][:-3]
mar_data = mar_data[3:][:-3]
apr_data = apr_data[3:][:-3]

DIVIDE A DATA LIKE DATE, PURE GOLD, STD GOLD

In [120]:
def process(data):
  return [lst[0] for lst in data],[lst[1] for lst in data],[lst[2] for lst in data]

jan_date, jan_gold_24k, jan_gold_22k = process(jan_data)
feb_date, feb_gold_24k, feb_gold_22k = process(feb_data)
mar_date, mar_gold_24k, mar_gold_22k = process(mar_data)
apr_date, apr_gold_24k, apr_gold_22k = process(apr_data)



1.  DATE -> GROUP ALL DATES FROM EACH LIST INTO SINGLE LIST
2.  GOLD_24K -> GROUP ALL PURE GOLD PRICE FROM EACH LIST INTO SINGLE LIST
3.  GOLD_22K -> GROUP ALL STD GOLD PRICE FROM EACH LIST INTO SINGLE LIST

In [121]:
Date     = [jan_date, feb_date, mar_date,apr_date]
gold_24k = [jan_gold_24k,feb_gold_24k, mar_gold_24k,apr_gold_24k]
gold_22k = [jan_gold_22k,feb_gold_22k, mar_gold_22k,apr_gold_22k]

CREATE A DICTIONARY THAT CONTAIN DATE, GOLD_24K_PRICE AND GOLD_22K_PRICE FOR GIVING AS A ARGUMENT TO DATAFRAME

In [122]:
def createDict(date,gold_24k,gold_22k):
  dict={
      "DATE":date,
    "GOLD_24k_PRICE":gold_24k,
    "GOLD_22k_PRICE":gold_22k
  }
  return dict

  
jan_gold_price_data = createDict(jan_date, jan_gold_24k, jan_gold_22k)
feb_gold_price_data = createDict(feb_date, feb_gold_24k, feb_gold_22k)
mar_gold_price_data = createDict(mar_date, mar_gold_24k, mar_gold_22k)
apr_gold_price_data = createDict(apr_date, apr_gold_24k, apr_gold_22k)

CREATE A DATAFRAME FOR EACH MONTH OF DATA

In [123]:

df_jan = pd.DataFrame(jan_gold_price_data) # FOR JANUARY 
df_feb = pd.DataFrame(feb_gold_price_data) # FOR FEBRARY
df_mar = pd.DataFrame(mar_gold_price_data) #FOR MARCH
df_apr = pd.DataFrame(apr_gold_price_data) #FOR APIRAL

data=pd.concat([df_jan,df_feb,df_mar,df_apr],axis = 0) #CONCATINATE ALL DATAFRAME FOR TOGETHER

In [124]:

data.reset_index(drop=True,inplace=True)
data

                DATE GOLD_24k_PRICE GOLD_22k_PRICE
0    01/January/2023        5532.00        5130.00
1    02/January/2023        5552.00        5150.00
2    03/January/2023        5593.00        5191.00
3    04/January/2023        5620.00        5238.00
4    05/January/2023        5590.00        5228.00
..               ...            ...            ...
107    18/April/2023        6097.00        5650.00
108    19/April/2023        6075.00        5665.00
109    20/April/2023        6097.00        5650.00
110    21/April/2023        6119.00        5665.00
111    22/April/2023        6059.00        5605.00

[112 rows x 3 columns]

In [125]:
data.to_csv('gold_price_data.csv')

In [126]:
readcsv =pd.read_csv('/content/gold_price_data.csv')
readcsv

     Unnamed: 0             DATE  GOLD_24k_PRICE  GOLD_22k_PRICE
0             0  01/January/2023          5532.0          5130.0
1             1  02/January/2023          5552.0          5150.0
2             2  03/January/2023          5593.0          5191.0
3             3  04/January/2023          5620.0          5238.0
4             4  05/January/2023          5590.0          5228.0
..          ...              ...             ...             ...
107         107    18/April/2023          6097.0          5650.0
108         108    19/April/2023          6075.0          5665.0
109         109    20/April/2023          6097.0          5650.0
110         110    21/April/2023          6119.0          5665.0
111         111    22/April/2023          6059.0          5605.0

[112 rows x 4 columns]

In [129]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112 entries, 0 to 111
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   DATE            112 non-null    object
 1   GOLD_24k_PRICE  112 non-null    object
 2   GOLD_22k_PRICE  112 non-null    object
dtypes: object(3)
memory usage: 2.8+ KB

In [130]:
data.isnull().sum()

DATE              0
GOLD_24k_PRICE    0
GOLD_22k_PRICE    0
dtype: int64